.category-featured-image-section {
  --grid-gap: 2em;
  @media screen and (max-width: 600px) {
    --grid-gap: 1em;
  }
  margin-bottom: var(--grid-gap);

  &__images {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc(25% - var(--grid-gap)), 1fr)
    );
    gap: var(--grid-gap);
    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(
        auto-fit,
        minmax(calc(50% - var(--grid-gap)), 1fr)
      );
    }
    @media screen and (max-width: 450px) {
      grid-template-columns: repeat(auto-fit, 100%);
    }
  }

  h2 {
    @media screen and (max-width: 600px) {
      font-size: var(--font-up-1);
    }
  }

  h3 {
    min-width: 0;
    word-break: break-word;
    font-weight: normal;
    margin-top: 0.25em;
    padding: calc(var(--grid-gap) / 4) calc(var(--grid-gap) / 2);
    @media screen and (max-width: 600px) {
      font-size: var(--font-0);
    }
  }

  img {
    width: 100%;
    max-height: $max-image-height;
    object-fit: cover;
  }

  a {
    color: var(--primary);
    line-height: 1.2;
    box-shadow: shadow("dropdown");
    transition: box-shadow 0.25s;

    &:focus,
    &:hover {
      box-shadow: shadow("card");
      text-decoration: underline;
    }
  }
}
